<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="io.github.poshjosh.ratelimiter" level="info"/>
<!--    <logger name="io.github.poshjosh.ratelimiter.bandwidths.DefaultRateToBandwidthConverter" level="trace"/>-->
<!--    <logger name="io.github.poshjosh.ratelimiter.LimiterContext" level="trace"/>-->
<!--    <logger name="io.github.poshjosh.ratelimiter.RateLimiterComposite" level="trace"/>-->
<!--    <logger name="io.github.poshjosh.ratelimiter.MatchUtil" level="trace"/>-->

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>